body{
  background-image: url("../images/blue.jpg");
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   background-size: 100% 80%;
    

}

#cnfm{
	height: 100px;
	width: 100px;
}

.continue{

  background-color:#FF5733 ;
  color: black;
  padding: 10px 10px;
  border: none;
  font-family:'Copperplate Gothic Bold';
  font-size:15px;
  width: 25%;
 margin: 40px 450px;
}
 



.confirm {
 background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 

  top:10px;
  margin: 30px 330px;
  width: 500px;
  padding: 50px;
  background-color: white;
  z-index: 5;
   border: 3px solid #f1f1f1;
   text-align: center;
}

#cart{
	height: 300px;
	width: 300px;
}


#p1{
font-family: 'Arial Black';
font-size :30px;
color: #07074E;
}

#p2{

font-family: 'Comic Sans MS';
font-size :20px;
color: black;
}

#p3{
	font-family: 'Comic Sans MS';
font-size :10px;
color: black;

}